body{
    padding:50px;
    display: flex;
    flex-flow: column;
    width: 100vw;
    align-items: center;
}
.row{
    width: 100%;
}
.col-md-6:first-of-type{
    border-right: 1px #eee solid;
}
#output1,#output2{
    padding: 5px;
    height: 230px;
    width: 100%;
    border-radius: 4px;
    border:4px #eee solid;
    background-color: rgb(233, 233, 233);
    overflow: scroll;
}
.loader{
    visibility: hidden;
    z-index: 10;
    top:0;
    bottom: 0;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: rgba(157, 157, 157, 0.612);
}
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 .pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
 .string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }